<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">Book Name</th>
                    <th scope="col">Author Name</th>
                    <th scope="col">Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of viewbook">
                    <td>{{i.id}}</td>
                    <td>{{i.bookname}}</td>
                    <td>{{i.authorname}}</td>
                    <td>{{i.description}}</td>
                    <td><button class="btn btn-danger"(click)="deleteBook(i.id)" >Delete</button></td>
                  </tr>
                  
                </tbody>
              </table>
        </div>
    </div>
</div>
